*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mooli';
}

/* secao cabecalho*/
.cabecalho {
    background-color: #ff00dd;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    border-bottom: 2px solid #ffff00b2;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

.cabecalho-lista-item:hover{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
    font-weight: bold;
}
/* secao sobre nos*/
.sobre_nos{
    background-image: linear-gradient(#bb00ff,#f800cf);
    color:#fffefe;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: 2px solid #ffff00b2;
}

.sobre_nos-div-conteudo{
    width: 650px;
}
.sobre_nos-titulo{
    padding: 45px 0;
    text-align: center;
    font-size: 45px;
}

.sobre_nos-paragrafo{
    font-size: 30px;
}

.sobre_nos-imagem{
    width: 30%;
}

/* secao lojas*/
.lojas{
    background-image: linear-gradient(#ff00c8,#bb00ff);
    color:#fff8f8;
    ;
}

.lojas-titulo{
color: #ffffff;
text-align: center;
padding: 30px;
font-size: 45px;
}


.loja-estado{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: 2px solid #ffff00b2
}

.lojas-estados-img{
    width: 665px;

    
}

.lojas_estados_texto{
    font-size: 28px;
}
.lojas-estado-nome{
    font-weight: 100;
    text-decoration: underline;
    color: #ffffff;
}
.lojas-estado-nome:hover{
    font-weight: 100;
    text-decoration: underline;
    color: orange;
}
.lojas-estado-icone{
    width: 35px;
    padding: 5px 0 10px 0;
}
.lojas-estado-icone:hover{
    width: 35px;
    padding: 5px 0;
}

.rodape{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px;
    border-top: 2px solid #ffff00b2;
}

.rodape-titulo{
    font-size: 25px;
    font-weight: bold;
    color: #ffff00b2;
}

.rodape-imagem{
    width: 100px;
    filter: invert();
}