{
    margin:0;
    padding:0;
}
body{
    font-family:'Poppins',sans-serif ;
}
.cabecalho{
    background-color: #ff00dd;
    color: white
    display:flex;
    justufi-content:space-around;
    aling-itens: center;
    padding:24px 0;
}

.cabecalho-imagem{
    width:10%
}

.cabecalho_lista_iten{
    display:inline block;
    margin: 100px;
    font-size:100px;
}
.sobre_nos{
    background-image: linear-gradient(#bc06ff, #bd06ff85);
    color: #ff0606;
    display:flex;
    justify-content: center;
    padding:24px;

}
.sobre_nos-imagem {
    width: 25;
}